<div class="h4">
  <div class="form-group">
    <div class="page-header">
      <b>Спасибо можно направлять сюда:</b><br>
      <li>ЮMoney (Яндекс.Деньги) - <a target="_blank" href="https://money.yandex.ru/to/410014588140805">https://money.yandex.ru/to/410014588140805</a></li>
      <li>Telegram - <a target="_blank" href="tg://resolve?domain=nokiannordman">@nokiannordman</a></li>

    </div>
  </div>
</div>